* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilos para o header */
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Estilos para a navegação */
nav ul {
    background-color: #35424a;
    text-align: center;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para a seção */
.conteudo {
    padding: 20px;
}

/* Estilos para o rodapé */
footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}